@import url(https://fonts.googleapis.com/css2?family=Acme&family=Josefin+Sans&family=Open+Sans&family=Outfit&family=Roboto&family=Rubik&display=swap);.container {
  width: 1170px;
  margin: 0 auto;
}

* {
  font-family: "Outfit", sans-serif;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

img {
  max-width: 100%;
}

.wrapper {
  width: 70%;
  margin: 0 auto;
}

a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

li {
  list-style: none;
}

header {
  height: 80px;
  width: 100vw;
  background-color: white;
  margin-bottom: 44px;
}

.wrapper.header {
  line-height: 80px;
  display: flex;
  justify-content: space-between;
}

.logo-header {
  width: 200px;
}

.logo-header img {
  width: 120px;
  height: 80%;
  padding: 25px;
  cursor: pointer;
}

.menu-header ul {
  display: flex;
  line-height: 100px;
}

.menu-header li {
  list-style: none;
  padding: 10px;
  border-bottom: 3px solid white;
}

.menu-header li a {
  font-size: 13px;
}

.menu-header li:hover,
.menu-header li:active {
  border-bottom: 3px solid #0C7BEB;
  border-color: #0C7BEB;
}

.menu-header li:hover a,
.menu-header li:active a {
  color: #0C7BEB;
}

.jumbotron {
  width: 100vw;
  height: 500px;
  background-image: url(/images/jumbotron.jpg?1b0a3671766964a4114f90322970b124);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

main {
  width: 100vw;
  background-color: black;
  padding: 80px 0 80px;
}

main h1 {
  color: white;
}

main p {
  color: white;
  font-size: 15px;
  text-transform: capitalize;
}

.img-container {
  display: flex;
  flex-wrap: wrap;
}

.imgBox {
  width: 15%;
  margin: 0 auto;
  padding-top: 15px;
  padding: 0 5px;
  cursor: pointer;
}

main .wrapper {
  position: relative;
}

main button {
  position: absolute;
  background-color: #0C7BEB;
  border: none;
  padding: 10px;
  color: white;
  text-transform: uppercase;
}

.series {
  top: -100px;
  left: 0;
}

.load {
  left: 45%;
}

main h3 {
  text-transform: uppercase;
}

.lowJumbo {
  height: 120px;
  width: 100%;
  background: #0C7BEB;
  padding: 40px;
}

.lowJumbo ul {
  display: flex;
  justify-content: center;
  align-self: center;
  line-height: 40px;
}

.lowJumbo ul li {
  padding: 0 20px;
  list-style: none;
  display: flex;
  align-self: center;
}

.lowJumbo li img {
  width: 35px;
  margin-right: 10px;
  cursor: pointer;
}

#shop img {
  width: 30px;
}

.lowJumbo a {
  color: white;
}

.bg-link {
  width: 100vw;
  height: 365px;
  background-image: url(/images/footer-bg.jpg?dfd68d2946f211e1b678af05fd2f830b);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 20px 0;
}

.wrapper.linkUtili {
  display: flex;
}

.linkUtili h3 {
  color: white;
  margin: 20px 0;
  text-transform: uppercase;
}

.linkUtili li a {
  color: gray;
  text-transform: capitalize;
}

.linkUtili li a:hover {
  color: white;
}

.first-column,
.second-column,
.third-column {
  margin-right: 35px;
  width: 15%;
}

.logo-dc {
  width: 50%;
  margin-left: 100px;
  position: relative;
}

.logo-dc img {
  width: 100%;
  position: absolute;
  top: -50px;
  z-index: 997;
}

footer {
  width: 100vw;
  background-color: #303030;
  position: relative;
  z-index: 999;
}

.wrapper.bottom-footer {
  line-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-btn {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-footer button {
  padding: 10px 15px;
  background-color: #303030;
  color: white;
  border: 2px solid #0C7BEB;
  text-transform: uppercase;
  cursor: pointer;
}

.bottom-footer button:hover {
  color: #0C7BEB;
  background-color: white;
}

.bottom-footer h3 {
  color: #0C7BEB;
}

.bottom-footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
  margin: auto 0 auto 25px;
}

.bottom-footer li {
  margin-top: 10px;
  margin-left: 15px;
}

