header{
   height: 80px;
   width: 100vw;
   background-color: white;
   margin-bottom: 43px;
}

.wrapper.header{
   line-height: 80px;
   display: flex;
   justify-content: space-between;
}

.logo-header{
   width: 200px;
}

.logo-header img{
   width: 120px;
   height: 80%;
   padding: 25px;
   cursor: pointer;
}

.menu-header ul{
   display: flex;
   line-height: 100px;
}

.menu-header li{
   list-style: none;
   padding: 10px;
   border-bottom: 3px solid white;
}

.menu-header li a{
   font-size: 13px;
}

.menu-header li:hover,
.menu-header li:active{
   border-bottom: 3px solid #0C7BEB;
   border-color: $primary-color;
}

.menu-header li:hover a,
.menu-header li:active a{
   color: $primary-color;
}