.jumbotron{
   width: 100vw;
   height: 500px;
   background-image: url("../../../public/images/jumbotron.jpg");
   background-size: cover;                     
   background-repeat: no-repeat;
   background-position: top center; 
}
